.input {
    border: 1px solid rgba(0,0,0, 0.5);
    outline: none;
    padding: 1px 15px;
    width: 250px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}